.section4{
    height: 300px;
    width: auto;
    background-size: cover;
    background-position: right;
}
.input1:focus{
    outline: none;
}
body{
    margin: 0;
}
.containerrr{
  max-width: 1120px;
  margin: auto;
}